@import 'foundation';
@import 'global/colors';
@include foundation-xy-grid-classes;

.home-sections.campuses {
  background-color: $light-gray;
  padding: $global-margin*2 0;
  @include xy-gutters($grid-margin-gutters, margin, bottom);
  .main-heading {
    color: #550000;
    .first-line {
      color: $cru-gray;
      }
    .title-word {
      color: $cru-red;
    }
  }
}

.site-header {
  .page-template-page-campus-ministry & {
    background: none;
    border-color: $cru-red;
    position: relative;
    bottom: -8rem;
    z-index: 20;
    margin-top: -8rem;
    .menu-title {
      @include breakpoint(medium) {
        color: $white;
      }
    }
  }
  .page-template-page-campus-page & {
    border-color: $cru-red;

    @include breakpoint(small only) {
      background: $cru-orange;
    }
    @include breakpoint(medium) {
      background: $white;
    }
  }
}
.title-wrapper {
  .page-template-page-campus-page & {
    @include breakpoint(small only) {
      background: $cru-orange;
      height: 4rem;
    }
    @include breakpoint(medium) {
      background: $white;
      border-color: lighten($cru-red, 15%);
    }

  }
}
.page-template-page-campus-ministry, .page-template-page-campus-page {

  .site-desktop-title {
background: #c94426; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5NDQyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMzU4MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #c94426 0%, #d35800 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #c94426 0%,#d35800 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #c94426 0%,#d35800 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c94426', endColorstr='#d35800',GradientType=0 ); /* IE6-8 */
    height: rem-calc(70);
    width: rem-calc(70);
    margin-top: 0.5rem;
    img {
      position: relative;
      width: rem-calc(52);
      top: rem-calc(13);
      left: rem-calc(5);
    }
  }
  #footer-contact-details-container {
    border-color: $cru-red;
  }
  .front-hero {
    @include xy-grid-container(full);
    @include flex-align(center, middle);
    background-size: cover;
    background-position: right bottom;
    padding: rem-calc(65%) 0;
    margin: 0;
    @include breakpoint(small only) {
      height: 90vh;
    }
    h1 {
      text-align: center;
      @include breakpoint(small only) {
        @include xy-cell(10);
        font-size: rem-calc(28);
        text-align: left;
      }
    }
  }
  .featured-hero {
    height: rem-calc(120);
  }
}

.campus-cell {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) no-repeat;
  height: rem-calc(350);
  @include breakpoint(small) {
    @include xy-cell(1 of 2);
  }
  @include breakpoint(medium) {
    @include xy-cell(1 of 3);
  }
  a {
    color: $white;
    padding: 2rem 0;

    span {
      background: rgba(0,0,0,0.95);
      color: $white;
      display: inline;
      padding: 0.5rem;
      font-size: rem-calc(20);
      font-weight: 600;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }
  }
}
$testimonial-light-blue: rgba($primary-color, 0.25);
$testimonial-block-vertical-bg: $testimonial-light-blue;

.testimonial-block-vertical-quote {
  background: $testimonial-block-vertical-bg;
  padding: $global-padding;
  border-radius: $global-radius;
  margin-bottom: 1.875rem;
  position: relative;

  p {
    margin-bottom: 0;
  }

  &::after {
    content: '';
    bottom: -1.25rem;
    left: 2.25rem;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 1.25rem 1.125rem 0 1.125rem;
    border-color: $testimonial-block-vertical-bg transparent transparent transparent;
    position: absolute;
  }
}

.testimonial-block-vertical-person {
  display: flex;
  margin-left: 1.65rem;
  align-items: center;
}

.testimonial-block-vertical-avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.testimonial-block-vertical-name {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
  margin-left: 0.65rem;
}

.testimonial-block-vertical-info {
  text-transform: uppercase;
  font-size: rem-calc(13);
  color: $dark-gray;
  margin-bottom: 0;
  margin-left: 0.5rem;
}

.featured-image-block-grid-header {
  margin-left: auto;
  margin-right: auto;
}

.featured-image-block {

  margin-bottom: 20px;

  .featured-image-block-title {
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    color: #404040;
  }

  a:hover {
    p {
      color: map-get($foundation-palette, primary);
    }
  }
}

.plaid.pattern {
  .page-template-page-campus-page & {
    background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
    }
}
