/// Defatul bottom margin of the panel
/// @type List
$panel-margin: rem-calc(20 0);
/// Default background color of the panel
/// @type Color
$panel-container-background-color: $white !default;

/// Default radius of the panel
/// @type List
$panel-container-radius: $global-radius !default;

/// Default bottom border width of the panel's header
/// @type Number
$panel-header-border-bottom-width: rem-calc(4) !default;

/// Default bottom border color of the panel's header
/// @type Color
$panel-header-border-bottom-color: $cru-blue;

/// Default font color of the panel's title
/// @type Color
$panel-header-color: $dark-gray;

/// Default font size of the panel's title
/// @type Number
$panel-header-font-size: rem-calc(26) !default;

/// Default bottom border color of the post
/// @type Color
$post-item-border-bottom-color: darken($cru-gray, 20%) !default;

/// Default bottom border width of the post
/// @type Number
$post-item-border-bottom-width: rem-calc(1) !default;

/// Adds styles for post-list's elements in small screen and it also could be used for bigger screen in small areas
@mixin small-posts-list {
  .posts-list{
    .post-title{
      font-size: rem-calc(24);
    }

    .post-meta{
      font-size: rem-calc(12);
    }

    .post-summary{
      font-size: rem-calc(14);
    }
    .post-read-more{
      display: none;
    }
  }
}




  .panel-header{
    @include xy-grid();
    border-bottom: $panel-header-border-bottom-width solid $cru-cyan;

    .panel-title{
      margin: 0;
      padding: rem-calc(15 0);
      font-size: $panel-header-font-size;
    }
  }

  .panel-content{
    padding: rem-calc(15 0);
  }

  .pinned-post, .posts-list{
    @include xy-grid();

  }

  .posts-list{
    .post-item:not(:last-child){
      border-bottom: $post-item-border-bottom-width solid $post-item-border-bottom-color;
    }
  }

  .post-item{
    @include xy-grid();
    @include xy-gutters($gutters: $grid-margin-gutters, $gutter-type: margin, $gutter-position: top bottom);
    .post-title {
      @include xy-cell(12);
      @include flex-align-self(bottom);

    }
    .post-meta {
      @include xy-cell(12);
      @include flex-align-self(middle);
      a {
        color: $white;
      }
      p {
        color: $white;
      }
    }
    .post-thumbnail{
      @include xy-cell(5 of 12);
      margin-right: 0;
      img{
        width: 100%;
        height: auto;
      }
    }

    .post-text{
      @include xy-cell(auto, $gutter-output: true);
      margin-bottom: $global-margin;
      p {
        margin: 0;
        color: $white;
      }
    }
    .post-title{
      font-size: rem-calc(26);
      a {color: $cru-cyan;}
      a:hover {color: $white;}

    }
    .post-meta{
      color: $black;
      font-size: rem-calc(14);
    }
    .meta{
      display: inline-block;
      margin-#{$global-right}: rem-calc(15);
    }
    .meta-icon, .meta-text{
      display: inline-block;
      padding-#{$global-right}: rem-calc(5);
    }

    .post-summary{
      font-size: rem-calc(15);
    }

    .post-read-more{
      display: block;
      font-size: rem-calc(14);

      .fa{
        padding: rem-calc(0 5)
      }
    }
  }

  .pinned-post{
    .post-item{
      border-bottom: $post-item-border-bottom-width solid $post-item-border-bottom-color;
    }
    .post-thumbnail{
      display: block;
      @include grid-col-row();
      img{
        width: 100%;
        height: auto;
      }
    }

    .post-text{
      @include grid-col-row();
      margin-top: rem-calc(15);
    }
  }

  @include breakpoint(small only){
    @include small-posts-list;
  }

  @include breakpoint(medium only){
    .posts-list{
      .post-title{
        font-size: rem-calc(20);
      }

      .post-meta{
        font-size: rem-calc(14);
      }

      .post-summary{
        font-size: rem-calc(14);
      }
    }
  }

  // Grid styles
  &.grid{
    .pinned-post, .posts-list{
      @include grid-column($columns: 6, $gutters: 0);

      @include breakpoint(small only){
        @include grid-col-row($gutters: 0);
      }
    }

    .pinned-post{
      .post-item{
        border: 0;
      }
    }

    @include small-posts-list;
  }
