.featured-hero {
  @include xy-cell(shrink);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include breakpoint(small only) {
    height: rem-calc(200);
    .page-template-default & {
      height: rem-calc(140);
    }
  }
  @include breakpoint(medium) {
    .page-template-landing-page-full-width & {
      height: 50vh;
    }
    .post-template-default &,
    .page-template-default &,
    .page-template-page-sidebar-left &, {
      height: rem-calc(280);
    }
    .page-template-imageheader-title &, .page-template-page-ih-fw & {
      height: rem-calc(400);
    }

  }

  @include breakpoint(large) {
    height: rem-calc(400);
  }

}

.plaid {
background-color: hsl(2, 57%, 40%);
background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
}
.featured-hero.pattern {
  @include breakpoint(small) {
    height: rem-calc(100);
  }
  @include breakpoint(medium) {
    height: rem-calc(150);
  }
  @include breakpoint(large up) {
    height: rem-calc(200);
  }
}
