// Page header
.front-hero {
  @include xy-grid($direction: vertical);

  @include breakpoint(small only) {
    // background: url('../images/singaporerunner.jpg') bottom center;
    // background-size: cover;
    // background-position: bottom;
    // padding: rem-calc(65%) 0;
    // margin: 0;
    // height: auto;
    // position: relative;
    // text-align: left;
    display: none;
  }

  @include breakpoint(medium) {
    background: url('../images/singaporerunner.jpg') bottom center;
    background-size: cover;
    background-position: center;
    padding: rem-calc(65%) 0 2rem 0;
    height: 100vh;
    display: flex;
    // @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: left right);
    margin-top: -2rem;
    align-items: center;
  }
  .marketing {
    @include xy-cell(auto);
    @include xy-grid();
    @include flex-align($x: center, $y: middle);
    @include breakpoint(small) {
      margin-top: rem-calc(110);
    }

    .tagline {

      @include breakpoint(small) {
        @include xy-cell(8);
      }

      @include breakpoint(medium) {
        @include xy-cell(12);
        padding-top: 6rem;
      }
    }
  }
  .watch {
    text-align: center;

    @include breakpoint(small) {
      @include xy-cell(7);
    }

    @include breakpoint(medium) {
      @include xy-cell(auto);
    }
    a {
      color: #B4C9D1;
      cursor: pointer;
      font-weight: 400;
      margin-right: rem-calc(20);
    }

    a:hover {
      color: #fff;
    }

    #stargazers {
      :before {
        content: "\f09b";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #B4C9D1;
        margin-right: rem-calc(8);
      }
    }

    #twitter {
      :before {
        content: "\f099";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #B4C9D1;
        margin-right: rem-calc(8);
      }
    }

  }
  .bottom-content-section {

    @include xy-cell(shrink);
    @include flex-align($x: center, $y: bottom);
    text-align: center;
    svg {
      height: rem-calc(30);
      width: rem-calc(30);
      fill: $white;
    }
  }


  h1 {
    color: $white;
    font-weight: 600;

    @include breakpoint(small) {
      font-size: 2.2rem;
    }

    @include breakpoint(medium) {
      font-size: 2.875rem;
    }
  }

  h4 {
    color: $white;
    font-weight: 300;
    font-size: 1.3125rem;
  }

  .download {
    margin-top: rem-calc(20);
  }

}

// Intro
.intro {
  background-color: $white;
  @include xy-grid-container(full);
  @include angle('before', false, 2deg);
  .fp-intro {
    @include xy-grid-container;
    h2 {
      font-weight: 300;
      margin-bottom: 1.5rem;
    }
    @include breakpoint(small only) {
      margin: $global-margin*10 $global-margin $global-margin*2;

    }
    @include breakpoint(medium up) {
      @include xy-gutters($grid-padding-gutters, $gutter-type: padding, $gutter-position: left right);
      margin-top: $global-margin*2;


      h4 {
        font-size: 1.125rem;
        line-height: 1.6;
        color: #777;
        margin-bottom: 2rem;
      }
    }
  }
}

// Section divider
.section-divider {
  @include xy-grid-container;
  @include xy-grid;

  hr {
    @include xy-cell(12);
    @extend .dotted;
    box-sizing: border-box;
  }
}
// home-sections typography and colours

.home-sections, .content-footer-section {
  margin: 0;
  padding: 0;
    @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: left);
    .home-grid {
      @include xy-grid-container();
      @include xy-grid();
      @include breakpoint(medium up) {
        margin-bottom: $global-margin;
      }
    }
    .home-cell {
      @include xy-gutters($gutters: $grid-margin-gutters, $gutter-type: margin, $gutter-position: top right);
      img {
        border-radius: $global-radius;
      }

      @include breakpoint(small) {
        @include xy-cell(1 of 2);
      }
      @include breakpoint(medium) {
        @include xy-cell(1 of 3);
      }
      margin-bottom: -3rem;

      // .label {
      //   font-size: 1rem;
      //   text-shadow: 0px 1px 3px $black;
      //   width: 100%;
      //   height: rem-calc(60);
      //   position: relative;
      //   top: -4rem;
      //   background-color: rgba(0,0,0,0.1);
      // }
      .label {
        position: relative;
        align: middle;
        font-size: 1.2rem;
        top: -4rem;
        left: $global-padding/2;
        margin-bottom: 1rem;
        @include breakpoint(small only) {
          font-size: 1rem;
          top: -3rem;
          left: 0;
          background-color: rgba(0,0,0,0.45);
        }
      }
      &:hover {
        .label {
          background-color: rgba(0,0,0,0.5);
          transition: background-color;
          transition-duration: 0.5s;
        }
        img {
          box-shadow: 1px 1px 4px $cru-gray;
        }
        text-shadow: 2px 2px 6px $black;

      }
    }
}

.training .home-cell {
    margin-bottom: 0;
    @include breakpoint(small) {
      @include xy-cell(1 of 2);
    }

    @include breakpoint(large) {
      @include xy-cell(1 of 3);
    }
}
.ministries .home-cell {
  margin-bottom: 0;
  @include breakpoint(small) {
    @include xy-cell(1 of 2);
  }
  @include breakpoint(medium) {
    @include xy-cell(1 of 3);
  }
  @include breakpoint(large) {
    @include xy-cell(1 of 4);
  }
}
/* Heading 3 .main-heading typography */

.main-heading {
  @include xy-cell();

  font-family: $header-font-family;
  font-weight: 300;
  line-height: 0.9;
  margin-bottom: 1rem;

  .first-line {
    font-family: $accent-font-family;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.0;
    letter-spacing: 1.2;
    font-style: normal;
    font-size: 100%;
  }

  .title-word {
    display: block;
    margin-left: -0.2rem;
    text-transform: uppercase;
    font-style: normal;
    line-height: 0.8;
    font-size: 200%;
    font-weight: 300;
    font-style: normal;

  }
}

.communities {

  padding-top: $global-margin*2;
  @include breakpoint(small only) {
    @include angle('before', false, 3deg);
  }
  background-color: $cru-gold;
  @include breakpoint(medium up) {
    @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: left right);
    @include xy-gutters($grid-padding-gutters, $gutter-type: padding, $gutter-position: left right);
  }
  .main-heading {
    color: #550000;
    .first-line {
      color: $white;
      }
    .title-word {
      color: $cru-red;
    }
  }
}
.home-section-wrapper {
  @include xy-grid-container();
  @include xy-grid();
}
.touchpoints {
  background-color: $white;
  @include breakpoint(small only) {
    margin: 0;
  }
  @include breakpoint(medium up) {
    background-color: $cru-blue;
    @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: top left right);

    padding: $global-margin*3 0;
  }
  @include angle('after', true, 2deg);
}

.training {
  @include angle('after', true, 2deg);
  padding: $global-margin*2 0;

  @include breakpoint(medium up) {
    @include xy-cell(auto);
  }
  @include breakpoint(small only) {
    @include xy-cell(110%);
    margin-left: 0;
    margin-right: 0;
  }
  background-color: $cru-blue;
  @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: top);

  img {
    border-radius: $global-radius;
  }
  .main-heading {
    color: $white;
    .first-line {
      color: smart-scale($white, 25%);
      }
    .title-word {
      color: $white;
    }
  }
}
.missions {
  @include xy-cell(auto);
  padding: $global-margin;
  @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: top);
  @include xy-gutters($grid-padding-gutters, $gutter-type: padding, $gutter-position: left right);
  background-color: #ddd;
  .main-heading {
    color: $cru-blue;
  }
  @include breakpoint(small only) {
    margin: 0;
  }
  @include breakpoint(medium) {
    background: none;
    margin-top: 4rem;
    margin-bottom: -4rem;
    .main-heading {
      color: $white;
    }
  }

}

.ministries {
  margin: $global-margin;
  padding-top: $global-margin*3;
  .main-heading {
    color: smart-scale($cru-orange, 15%);
    .first-line {
      color: $cru-gray;
      }
    .title-word {
      color: $cru-orange;
    }
  }
}

.updates {
  background-color: $cru-cyan;
  @include breakpoint(medium up) {
    @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: left right);

  }
  @include breakpoint(small only) {
    margin: 0;
    padding: 0;
        @include angle('before', false, 3deg);
        @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: left right bottom);
  }
}
.content-footer-section {
  background-color: $cru-orange;
  .cf-secondary {
    background-color: $cru-orange;
    @include breakpoint(medium up) {
      @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: left right);
      @include xy-cell(auto);
    }
    @include breakpoint(small only) {

      @include xy-cell(110%);

      @include xy-gutters($grid-padding-gutters, $gutter-type: padding, $gutter-position: left right);

    }
  }
  .cf-tertiary {
    background-color: #064989;
    @include xy-gutters($grid-padding-gutters, $gutter-type: padding, $gutter-position: top left right);
    @include breakpoint(small only) {
      @include xy-cell(110%);
      margin: 0;
      padding: 3*$global-margin 0;
      // @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: right);
      // margin-left: 0;
      // padding-left: $global-margin;
    }

    @include breakpoint(medium up) {
      @include xy-cell(50%);
      @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: left);
    }
  }
}
.events {
  background-color: $cru-cyan;
    @include xy-gutters($grid-padding-gutters, $gutter-type: padding, $gutter-position: top);

  @include breakpoint(medium up) {
    @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: left right);
    @include angle('before', false, 3deg);
    @include xy-cell(auto);
  }
  @include breakpoint(small only) {

    @include xy-cell(110%);

    @include xy-gutters($grid-padding-gutters, $gutter-type: padding, $gutter-position: left right);

  }
  .main-heading {
    font-size: rem-calc(20);
    color: smart-scale($cru-orange, 15%);
    .first-line {
      color: $white;
      }
    .title-word {
      color: darken($cru-blue, 10%);
    }
  }


}

.social-media {
  background-color: #064989;
  @include xy-gutters($grid-padding-gutters, $gutter-type: padding, $gutter-position: top left right);
  .tabs-panel {
    margin: 0;
    padding: 0;
  }
  .tabs-panel-fb {
    @include xy-grid-container();
    @include flex-align(center);
  }
  .tabs {
    background: none;
    border: none;
    @include xy-grid;
    @include flex-align(center, middle);
    &.is-active {
      background: none;
    }
    .tabs-title {
      @include xy-cell(1 of 2);
      @include xy-grid-collapse;
      > a[aria-selected="true"] {
        background: #12558F;
      }
      > a {
        color: $cru-cyan;
        font-size: 1em;
        padding-left: $global-padding;

        i {
          margin-right: $global-margin;
        }
      }
      > a:hover {
        background: $cru-blue;
        i {
          color: #10538D;
        }
      }
    }

  }
    .tabs-content {
      background: #12558F;
      border: none;
    }
  @include breakpoint(small only) {
    @include angle('before', true, 3deg);
    @include xy-cell(110%);
    margin: 0;
    padding: 3*$global-margin 0;
    // @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: right);
    // margin-left: 0;
    // padding-left: $global-margin;
  }

  @include breakpoint(medium up) {
    @include xy-cell(50%);
    @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: left);
    @include angle('before', true, 2deg);
  }

  .main-heading {
    font-size: rem-calc(20);
    .first-line {
      color: $cru-cyan;
      }
    .title-word {
      color: $white;
    }
  }
  p, h3, h4, h5, h6 {
    color: $white;
  }

  .home-grid {
    @include xy-grid-layout(3, '.social-cell');
      @include xy-gutters($grid-padding-gutters, $gutter-type: padding, $gutter-position:left);
  }

}
.social-cell {
  color: $cru-cyan;
  &:hover {
    color: $white;
  }
}


// Benefits
.missions {

  text-align: center;

  header {
    @include xy-cell(12);

    h2 {
      font-weight: 300;
    }

    h4 {
      font-size: 1.125rem;
      line-height: 1.6;
      color: #777;
    }
  }

  .semantic,
  .responsive,
  .customizable,
  .professional {
    @include xy-cell(auto);

    img {
      padding: 1.25rem;
      margin: 1rem auto 0 auto;
    }

    h3 {
      color: #0a0a0a;
      font-weight: 300;
      font-size: 1.75rem;
    }

    p {
      font-size: 0.9375rem;
    }
  }

  .why-foundation {
    @include xy-cell(12);
    margin-top: 4rem;
  }
}
.widget_custom_html {
  @include xy-grid-container();
  @include flex-align(center);
  @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: left right bottom);
  @include xy-gutters($grid-padding-gutters, $gutter-type: padding, $gutter-position: top bottom);

}
