.main-wrap {
  @include xy-grid-container();
  @include xy-grid();
  margin-top: 1rem;

  ul {
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><circle fill="#ccc" cx="5" cy="5" r="3"/></svg>');
  }
  @include breakpoint(small only) {
    h1, h2, h3, h4, h5, h6 {
      font-weight: 600;
    }
  }

  @include breakpoint(medium up) {
    margin-top: $global-margin*2;
    margin-bottom: $global-margin*3;
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
      @include xy-grid;
    article {
      @include flex-align(center, middle);

    }
    .entry-content {
      @include breakpoint(small) {
        @include xy-cell(full);
      }
      @include breakpoint(medium up) {
        @include xy-cell(10);
        @include xy-cell-offset(1);

      }
    }
  }

  // Default template
  .main-content {
    @include xy-cell(auto);
    @include xy-gutters($grid-padding-gutters,$gutter-type: padding, $gutter-position: left right);

    @include breakpoint(small) {
      @include xy-cell(12);
      @include xy-gutters($grid-padding-gutters,$gutter-type: padding, $gutter-position: left right);
    }

    @include breakpoint(medium) {
      @include xy-gutters($grid-padding-gutters, padding, top left right);

    }
    @include breakpoint(large) {

      padding: 0;

    }


    ul.orbit-container {
      list-style: none;
      margin-left: 0;
    }
  }
  .sidebar, .menu, .main-wrap .menu {
      ul {
        margin-left: 0;
        list-style-type: none;
        list-style-image:none;
      }
  }
  .sidebar {
    // background: linear-gradient(180deg, $light-gray 1px, white 40px, white);
    h2, h3, h4, h5, h6 {
      font-weight: 400;
      text-transform: uppercase;
    }
    @include xy-gutters($grid-padding-gutters, $gutter-type: padding, $gutter-position: left right);
    @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: bottom);
    // @include angle('before', true, 3deg);
    @include breakpoint(small only) {
      @include xy-cell(12);
      background: $light-gray;
      padding-top: $global-padding;
    }
    @include breakpoint(medium) {
      @include xy-cell(4);
      padding: 0;
    }
    @include breakpoint(large) {
      @include xy-cell(4);
    }
  }
}
// end of main-wrap

.featured-header {
  @include xy-grid(vertical, false);
  @include xy-grid-container(full);
  .featured-hero {
    margin: 0;
    .title-wrapper {
      background: none;
    }
  }
  @include breakpoint(small only) {
    .featured-hero {
      order: 2;
    }
    .title-wrapper {
      order: 1;
    }
  }
  @include breakpoint(medium up) {
    .featured-hero {
      order: 1;
    }
    .title-wrapper {
      order: 2;
    }
  }
  .page-template-landing-page-full-width &, .post-template-default &, .page-template-ministry-landing & {

    @include breakpoint(small only) {
      margin-top: -5rem;
      .featured-hero {
        order: 1;
      }
      .title-wrapper {
        order: 2;
      }
    }
    @include breakpoint(medium up) {
      margin-top: -8rem;
    }

  }
  // innerpage
  .title-wrapper {
    @include xy-grid();
    @include xy-gutters($grid-padding-gutters, padding, left right);
    @include breakpoint(small only) {
      @include angle('after', true, 2deg);
      @include flex-align($x: right, $y: stretch);
      height: rem-calc(50);
      .page-template-default &,
      .page-template-page-sidebar-left & {
        background-color: $cru-gold;
      }
    }
    @include breakpoint(medium up) {

      @include flex-align(center);

      border-top: $global-margin/2 solid rgba(249,182,37,0.8);
      background-color: rgba(0,0,0,0.2);
      @include xy-gutters($grid-padding-gutters, padding, left right);
      padding-top: $global-padding*3;
      // margin-top: -$global-margin/2;
    }


    .page-template-landing-page-full-width & {
      backround: none;
      @include breakpoint(small only) {
        margin-top: -3rem;
      }
    }
    // .page-template-page-full-width & {
    //
    // }
    // .page-template-page-full-width &,
    // .page-template-default &,
    // .page-template-page-sidebar-left & {
    //   @include breakpoint(medium up) {
    //     @include xy-gutters($grid-padding-gutters, padding, left right);
    //     padding-top: $global-padding*3;
    //     margin-top: 4rem;
    //     border-top: $global-margin/2 solid $cru-orange;
    //     background-color: rgba(0,0,0,0.2);
    //
    //
    //   }
    // }
    // .page-template-page-sidebar-left &, .page-template-page-full-width & {
    //   @include breakpoint(medium up) {
    //     @include flex-align(center);
    //     background-color: none;
    //   }
    // }
    // .page-template-ministry-landing & {
    //   @include breakpoint(medium up) {
    //     @include xy-grid-container();
    //     @include xy-gutters($grid-padding-gutters, padding, left right);
    //
    //
    //
    //   }
    // }

  h1.entry-title {
    @include xy-gutters($grid-padding-gutters, $gutter-type: padding, $gutter-position: top left right);
    text-align: right;
    color: $white;
    font-weight: 600;
    text-transform: uppercase;

    margin-bottom: 0;
    @include breakpoint(medium up) {
      margin-bottom: 0.5rem;
      margin-top: -1rem;
      padding: 0;
      color: $black;
      font-weight: 300;

    }
  }
  }
}
ol.tribe-list-widget {
  list-style: none;
}

.content-footer-section {
  background: none;
}

.gallery {
  @include xy-grid();

  padding: 0;
  margin: 0;
  .gallery-caption {
    line-height: 1.2;
    color: $cru-gray;
    padding: $global-padding/2;
  }
}
.gallery-columns-1 {
  @include xy-grid-layout(1, '.gallery-item');
  @include xy-grid-collapse('.gallery-item', margin, left);

}
.gallery-columns-2 {
  @include xy-grid-layout(2, '.gallery-item');
  @include xy-grid-collapse('.gallery-item', margin, left);

}
.gallery-columns-3 {
  @include breakpoint(small only) {
    @include xy-grid-layout(3, '.gallery-item');
  }
  @include breakpoint(medium) {
    @include xy-grid-layout(3, '.gallery-item');
  }
  @include xy-grid-collapse('.gallery-item', margin, left);

}
.gallery-columns-4 {
  @include breakpoint(small only) {
    @include xy-grid-layout(4, '.gallery-item');
  }
  @include breakpoint(medium) {
    @include xy-grid-layout(4, '.gallery-item');
  }
  @include xy-grid-collapse('.gallery-item', margin, left);

}
.gallery-columns-5 {
  @include breakpoint(small only) {
    @include xy-grid-layout(3, '.gallery-item');
  }
  @include breakpoint(medium) {
    @include xy-grid-layout(5, '.gallery-item');
  }
  @include xy-grid-collapse('.gallery-item', margin, left);

}
.gallery-columns-6 {
  @include breakpoint(small only) {
    @include xy-grid-layout(3, '.gallery-item');
  }
  @include breakpoint(medium) {
    @include xy-grid-layout(6, '.gallery-item');
  }
  @include xy-grid-collapse('.gallery-item', margin, left);
}
.gallery-item {
  padding: 0;
  margin: 0;
  @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: top bottom);

}

// .gallery {
//   @include xy-grid(horizontal, true);
//   .gallery-item {
//     @include xy-cell(auto);
//   }
// }
// entry-meta styling
.entry-meta, .entry-tags {
  border-top: 1px solid $light-gray;
  color: $cru-gray;

  a {
    &:before {
      content: '#';
    }
  }
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1.2;
  .fa {
    font-size: 0.8em;
    color: $anchor-color;
    margin-left: $global-margin/2;
  }
}
// post navigation
.post-navigation, .tribe-events-sub-nav, .tribe-events-back {
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  font-size: 0.8em;
  a {
    color: $cru-gray;

  }
  .nav-next:after {
    content: ' \276F';
    color: $cru-gray;

  }
  .nav-previous:before {
    content: '\276E  ';
    color: $cru-gray;

  }
}
.post-navigation {
  margin: $global-margin*3 0 $global-margin 0;
}

// comments section#respond

section#respond {
  background-color: $light-gray;
  @include xy-gutters($grid-padding-gutters, padding, top left right);
  #allowed_tags.small {
    font-size: 0.8em;
  }
}

// content-footer-section
.content-footer-section {
  background-color: $cru-cyan;
  @include breakpoint(medium up) {
    @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: left right);

  }
  @include breakpoint(small only) {
    margin: 0;
    padding: 0;
        @include angle('before', false, 3deg);
        @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: left right);
  }
  .cf-secondary {
    background-color: $cru-cyan;
    @include xy-gutters($grid-padding-gutters, $gutter-type: padding, $gutter-position: top);
    @include breakpoint(medium up) {
      @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: left right);
      @include xy-cell(auto);
    }
    @include breakpoint(small only) {
      @include xy-cell(auto);
      @include angle('before', false, 3deg);
      padding: 0;

    }
    .main-heading {
      font-size: rem-calc(20);
      color: smart-scale($cru-orange, 15%);
      .first-line {
        color: $light-gray;
        }
      .title-word {
        color: darken($cru-blue, 10%);
      }
    }
  }
  .cf-tertiary {
    background-color: $cru-blue;
    @include xy-gutters($grid-padding-gutters, $gutter-type: padding, $gutter-position: top left right);
    @include breakpoint(small only) {
      @include xy-cell(110%);
      @include angle('before', true, 3deg);
      margin: 0;
      padding: 3*$global-margin 0;

    }

    @include breakpoint(medium up) {
      @include xy-cell(auto);
      @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: left);
    }
    .main-heading {
      font-size: rem-calc(20);
      color: smart-scale($cru-orange, 15%);
      .first-line {
        color: $cru-gold;
        }
      .title-word {
        color: $white;
      }
    }
  }
}
