
.main-wrap {
  @include xy-grid-container();
  @include xy-grid();
  margin: 0 auto;
  margin-top: $global-margin;
  @include breakpoint(medium) {
    margin-top: $global-margin*3;

  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
      @include breakpoint(small) {
        .main-content { order: 1; }
        .sidebar { order: 2; }
      }

    // ... and to the left on medium-up screens, when using the sidebar-left template
      @include breakpoint(medium) {
        .main-content { order: 2; }
        .sidebar { @include angle('before', false, 3deg); order: 1; }
      }
  }

  // Full width template
  &.full-width {
    margin: $global-margin auto;
    @include breakpoint(small) {
      margin: $global-margin $global-margin 0;
    }
    .main-content {
      @include xy-cell(12);
    }
  }

  .main-content {

    // Default template
    @include breakpoint(small) {
      @include xy-cell(12);
      @include xy-gutters($grid-padding-gutters,$gutter-type: padding, $gutter-position: left right);
    }

    @include breakpoint(medium) {
      @include xy-cell(8);
    }

  }

  .sidebar {
    background-color: $light-gray;
    @include xy-gutters($grid-padding-gutters, $gutter-type: padding, $gutter-position: top left right);
    border-radius: $global-radius;
    @include angle('before', true, 3deg);
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(4);
      margin-top: 1rem;
    }

  }
}
.featured-header {
  @include xy-grid-container(full);
  @include xy-grid(vertical, false);
  @include breakpoint(small only) {
    .featured-hero {
      order: 2;
    }
    .title-wrapper {
      order: 1;
    }
  }
  @include breakpoint(medium up) {
    .featured-hero {
      order: 1;
    }
    .title-wrapper {
      order: 2;
    }
  }
  // innerpage
  .title-wrapper {
    @include xy-cell(full);
    @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: left right);
    margin: 0 inherit;
    @include breakpoint(small only) {
      @include angle('after', true, 2deg);
    }
    .page-template-default &,
    .page-template-page-sidebar-left & {
      background-color: $cru-gold;
    }
    .page-template-page-full-width & {
      background-color: $cru-red;
    }
    .page-template-page-full-width &,
    .page-template-default &,
    .page-template-page-sidebar-left & {
      @include breakpoint(medium up) {
        @include xy-grid-container();
        background-color: $white;
      }
    }

  }

  h1.entry-title {
    @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: left right);
    text-align: right;
    color: $white;
    text-transform: uppercase;
    @include breakpoint(medium) {
      text-align: left;
      color: $header-color;
      border-bottom: 2px solid $cru-cyan;
    }

  }
}
ol.tribe-list-widget {
  list-style: none;
}
