// header
.site-header {
  @include xy-gutters($grid-margin-gutters, $gutter-type: margin, $gutter-position: left right);
  position: relative;
  .header {
    @include xy-grid-container();
    margin: 0 auto;
    @include flex-align($x: justify);
    .menu {
      background: none;

      @include breakpoint(medium) {
        &.is-dropdown-submenu {
          background: $white;
          .menu-title {
            color: $black;
          }
        }
        .home &.is-dropdown-submenu {
          background-color: rgba(255,255,255,0.8);
          .menu-title {
            color: $cru-blue;
          }
        }
      }
    }
    background: none;
  }
  .home & {
    position: relative;
    bottom: -8rem;
    z-index: 20;
    margin-top: -8rem;
    .menu-title {
      @include breakpoint(medium) {
        color: $white;
      }
    }
  //  position: absolute;
  //  z-index: 20;
  }

  .page-template-default &, .page-template-page-full-width & {
    border-top: $global-margin/2 solid $cru-red;

    @include breakpoint(medium up) {
        background: $white;

        .menu {
          background: $white;
        }
    }
  }

  .page-template-default &,
  .archive &,
  .page-template-page-sidebar-left &,
  .post-template-default &,
   {
    background: $cru-gold;
    border-top: $global-margin/2 solid $cru-gold;
    @include breakpoint(medium up) {
        background: $white;

        .menu {
          background: $white;
        }
    }
  }
  .post-template-default & {
    @include breakpoint(small only) {
      @include angle('after', true, 2deg);

    }
  }
}
// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

// .desktop-menu,
// .site-navigation .top-bar-left {
//   @include show-for(medium);
// }
.top-bar .top-bar-left {
  @include xy-cell(2);
  z-index: 2;
  @include breakpoint(small only) {
    margin-bottom: -2rem;
    .archive &, .blog &, .tribe_events-template-default & {
      margin-bottom: 0;
    }
  }

}

.top-bar-right {
  @include xy-cell(auto);
  margin:0;


}

// Site title (logo)
.site-desktop-title a {
}
// Site logo circular background;
.site-desktop-title {
  margin: 0;
  background: $cru-gold;
  margin: 1rem 0;
  border-radius: 50%;
  height: rem-calc(90);
  width: rem-calc(90);
  img {
    position: relative;
    width: rem-calc(80);
    top: rem-calc(8);
    left: rem-calc(2);
  }
  .home & {
    background: $white;
    border-radius: 50%;
    height: rem-calc(100);
    width: rem-calc(100);
    margin-top: 1rem;
  }
  .home & img {
    position: relative;
    width: rem-calc(90);
    top: rem-calc(9);
    left: rem-calc(2);
  }

  .post-template-default &,
  .page-template-default &, .page-template-page-sidebar-left &,
  .archive & {

    @include breakpoint(small only) {
      background: none;
     }
    @include breakpoint(medium up) {
      background: $cru-gold;
    }

    &:hover {
      background: $cru-orange;
    }
  }
}

span[aria-label] {
    display: none
}

// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}

$menu-underline-from-center-border-thickness: 0.125rem;

.nav-list {
  list-style: none;
  .nav-anchor {
    @include breakpoint(medium up) {
      // &.underline-from-center {
      //     position: relative;
      //     &::after {
      //       content: "";
      //       position: absolute;
      //       top: calc(100% - #{$menu-underline-from-center-border-thickness});
      //       border-bottom: $menu-underline-from-center-border-thickness solid $cru-gold;
      //       left: 50%;
      //       right: 50%;
      //       transition: all 0.5s ease;
      //     }
      //
      //     &:hover::after {
      //       left: 0;
      //       right: 0%;
      //       transition: all 0.5s ease;
      //     }
      //   }
    }
    &:hover:not(.button) {

      .menu-title {
        @include breakpoint(medium up) {
          color: $cru-orange;
          .home & {
            color: rgba(255,255,255,0.4);
            text-shadow: 0px 1px 1px #333;
          }
        }
        @include breakpoint(small only) {
            color: $cru-gold;
        }
        transition: color linear 0.3s;
      }

    }
  }
  .is-active > a {
    background: none;
  }
  .is-closed .menu .nav-anchor {
    padding: 0.5rem 0.5rem;
  }
  // default menu-title styles
  .menu-title {
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    color: $cru-gold;
    font-weight: 600;
    transition: all;
    transition-duration: 0.5s;
  }


  i.description {
    text-transform: lowercase;
    line-height: 0.9;
    @include breakpoint(medium up) {
      font-size: 95%;
    }
  }
  @include breakpoint(small only) {
    margin-top: 2rem;
    @include xy-grid(vertical, false);
    height: 90%;
    // width: $offcanvas-sizes - 50px;
    .nav-anchor {
      display: block;
      padding: 1rem 0;
      text-decoration: none;
      transition: all 0.12s ease-out;
    }
    .menu-title {
      font-size: rem-calc(24);
      color: $cru-orange;
    }
    .menu-title:before {
      font-family: FontAwesome;
      left:-0.5rem;
      position:relative;
      top:4px;
   }
   .menu-communities .menu-title:before {
      content: "\f0c0";  /* this is your text. You can also use UTF-8 character codes as I do here */
   }
   .menu-training .menu-title:before {
     content: "\f0ad";
   }
   .menu-missions .menu-title:before {
     content: "\f0ac";
   }
   .menu-join .menu-title:before {
     content: "\f040";
   }
   .menu-give .menu-title:before {
     content: "\f0d6";
   }
   .menu-about .menu-title:before {
     content: "\f05a";
   }
  .is-submenu-item .nav-anchor {
      .menu-title {
        font-size: rem-calc(16);
        color: $cru-red;
        margin-left: 0.5rem;
        &:before {
          content: none;
        }
      }
      border-bottom: none;
    }
    i.description {
      font-size:80%;
      color: $dark-gray;
      margin-left: 1.5rem;
    }
    .minor {
      .menu-title {font-size: rem-calc(20); color: $dark-gray;}
      .description {font-size: 80%; color: $dark-gray;}
      padding: 0.2em 0;
      .nav-anchor {
        border-bottom: none;
      }
      i.description {
        margin-left: 20px;
      }
    }

  }
  @include breakpoint(medium up) {
    /* Use horizontal grid for medium breakpoint and up */
    @include xy-grid(horizontal, true);
    width: 100%;
    border-top: 2px solid $light-gray;
    border-bottom: 2px solid $light-gray;
    margin-left: 0;
    margin-top: 0;
    .nav-anchor {

      // color: $white;
      .menu-title {
        @include xy-cell(shrink);
        font-size: rem-calc(16);
        letter-spacing: 0.02rem;
        margin: inherit 0;
      }
    }
    i.description {
      display: none;
    }
  }
}

.accordion-menu .nested.is-accordion-submenu {
  a {
    padding-left: $global-margin/2;
    text-transform: uppercase;
    color: $cru-orange;
  }
}


// .is-accordion-submenu-parent[aria-expanded="true"] {
//   .menu-title, .description {
//     color: $cru-orange;
//   }
//   li {
//     border-bottom: none;
//   }
// }


/* menu hamburger and close toggle button */

.header__nav-button {
    font-size: 0;
    line-height: 0;
    text-shadow: none;
    height: $global-margin;
    padding: 0;
    position: absolute;
    top: $global-margin;
    right: $global-margin;
    width: $global-margin;
    z-index: 20;
}


.header__nav-button:after, .header__nav-button:before {
    content: '';
    left: 50%;
    margin-left: -9px;
    position: absolute;
    top: 50%;
    transition: all .25s cubic-bezier(0.165, .84, .44, 1);
    width: 19px
}

.header__nav-button::before
{
    background: $cru-gold;
    height: 2px;
    margin-top: -1px
}
.header__nav-button::after
{
    border: solid $cru-gold;
    border-width: 2px 0;
    height: 12px;
    margin-top: -6px
}
.post-template-default, .page-template-page-full-width,
.page-template-default, .page-template-page-sidebar-left,
.archive {
  .header__nav-button::before
  {
      background: $cru-gray;
      height: 2px;
      margin-top: -1px
  }
  .header__nav-button::after
  {
      border: solid $cru-gray;
      border-width: 2px 0;
      height: 12px;
      margin-top: -6px
  }
}

.header__nav-button:before {
    background: $cru-gold;
    height: 2px;
    margin-top: -1px
}
.page-template-landing-page-full-width .header__nav-button:before {
    background: $cru-red;
    height: 2px;
    margin-top: -1px
}


.header__nav-button:after {
    border-color: $cru-gold;
}
.page-template-landing-page-full-width .header__nav-button:after {
    border-color: $cru-red;
}

/* Default close button color is $cru-gold */
.header__nav-button[aria-expanded="true"] {
  &:before, &:after {
    background: $cru-gold;

  }
  &:before {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  &:after {
    border: none;
    height: 2px;
    margin-top: -1px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
}



// Tablet and desktop menu
.top-bar-right {
  @include breakpoint(small) {
    padding-left: $global-margin;
    border-left: 0.3rem solid $cru-gold;
  }
  @include breakpoint(medium) {
    border-left: none;
  }
}
.top-bar-right, .home .top-bar-right {
  @include breakpoint(small only) {
    border-color: $cru-gold;
  }
}


.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}
.top-bar {
  .menu .active > a {
    color: $cru-gold;
  }

  .menu>li:not(.menu-text)>a { padding: 1rem 0.5rem 1rem 0.5rem; }

  .menu li:not(:last-child) { border-right: none; }

  .dropdown.menu .submenu {
    border: none;
  }
  ul.is-dropdown-submenu {
    box-shadow: 0px 1px 2px 0px $cru-gray;


  }
  .dropdown.menu .has-submenu.is-down-arrow a { color: $cru-orange; padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }
  .dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after { display: none; }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}
